@import "../global.css";

.container {
  margin-bottom: 30px;
}
.container ul {
  list-style-position: inside;
}
.heading2 {
  color: var(--c-yellow);
  margin-bottom: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
