@import "../global.css";

.container {
  margin-bottom: 30px;
  ul {
    list-style-position: inside;
    li {
      padding-left: 1em;
    }
  }
}
.heading2 {
  color: var(--c-primary);
  margin-bottom: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
