@import "../global.css";
.heading2 {
  color: var(--c-primary);
  margin-bottom: 10px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section {
  .heading3 {
    margin-bottom: 10px;
    color: var(--c-secondary);
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .paragraph {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  ul {
    list-style-position: inside;
    li {
      padding-left: 1em;
    }
  }
}
