@import "../global.css";
.container {
  margin: 0 auto;
}
.emoji {
  display: inline-block;
  animation: rotating 5s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heading1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--c-primary);
}
.paragraph {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: center;
}
.socialMediaContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 20px;
}
.socialMediaContainer li {
  list-style: none;
  width: 50px;
}
.socialMediaContainer li img {
  width: 100%;
}
