<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>azoookid</title>
	</head>
	<body>
		<main>
			<div id="frame">
				<slot />
			</div>
		</main>
	</body>
</html>

<style>
body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #143F6B;
	color: #fff
}
#frame {
	max-width: 500px;
	margin: 0 auto;
	padding-top: 15px;
	
}
@media screen and (max-width: 500px) {
	 #frame {
		margin: 0 15px;
	}
}
</style>
